<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="StartScale"    val="0.5"/>
  <add key="SelectedHours" val="8"/>
  <add key="FontFamily"    val="Arial"/>

  <add key="MapImg"        val="Graphics/map.JPG"/>
  <add key="MapOffset" x="-0.5" y="-0.5"/>

  <add key="DrawPositions"  val="true"/>
  <add key="DrawNamesBelow" val="true"/>
  <!-- Example City List -->
  <positions>
    <add name="NullIsland"  latitude="0"          longitude="0"/>
    <add name="Sydney"  latitude="-33.884080" longitude="151.284222"/>
    <add name="NewYork" latitude="40.979393"  longitude="-72.112889"/>
    <add name="Moscow"  latitude="55.5807481" longitude="36.8251443"/>
    <add name="Vienna"  latitude="48.204654"  longitude="16.372685"/>
    <add name="Berlin"  latitude="52.507489"  longitude="13.401393"/>
  </positions>
</configuration>
