<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add key="StartScale" val="0.5"/>
    <add key="MapImg" val="Graphics/map2.JPG"/>
    <add key="SelectedHours" val="8"/>
    
    <add key="FontFamily" val="Consolas"/>
    
    <add key="DrawPositions" val="false"/>
    <positions>
        <!-- <add key="Middle" latitude="0" longitude="0"/> -->
        <add key="NewYork" latitude="-72.112889" longitude="40.979393"/>
        <add key="Moscow" latitude="36.8251443" longitude="55.5807481"/>
    </positions>
</configuration>
